.taskCard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: white;
  border-radius: 6px;
  width: 100%;
}

.taskCard .taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.taskDescrition {
  height: 20px;
  /* overflow: hidden; */
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  color: rgb(75 85 99);
}

.taskTitle {
  color: rgb(31 41 55);
  cursor: pointer;
}

.taskControlbar {
  display: flex;
  gap: 12px;
  align-items: center;
}

.mobileControlbar {
  display: none;
}

@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */
  /* You can add your CSS rules here */
  .taskControlbar {
    display: none;
  }
  .mobileControlbar {
    display: flex;
    gap: 2px;
  }
}
