* {
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
  margin: 0;
}

body {
  background-color: rgb(53, 53, 60);
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 24px;
}

.app .header {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addTaskBtn {
  text-decoration: none;
  padding: 12px;
  background-color: white;
  color: black;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
}

.tasksWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 60%;
}

.noTaskTxt {
  color: white;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.taskListText {
  color: white;
  font-weight: 500;
  font-weight: 1.13rem;
}

.taskFilterWrapper {
  display: flex;
  border-radius: 4px;
  align-items: center;
  padding: 0 6px;
}

.noDataFallback {
  width: 100%;
  border: 1px solid white;
  height: 40vh;
  min-height: 300px;
  text-align: center;
  font-size: 24px;
  border-radius: 8px;
  background-color: white;
}

@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */
  .app {
    padding: 10px;
  }
  .app .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .tasksWrapper {
    width: 100%;
  }
}
